Repository jrsteensen/OpenHornet-Software, pull requests merged in 2024-03, with the labels that each got.

#68 refactor-4A2A1-LDG_GEAR_PANEL
  embedded/OH4_Left_Console/4A2A1-LDG_GEAR_PANEL/4A2A1-LDG_GEAR_PANEL.ino
  embedded/OH4_Left_Console/4A2A1-LDG_GEAR_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#71 Update 1A3-L_DDI_AND_EWI.ino
  embedded/OH1_Upper_Instrument_Panel/1A3-L_DDI_AND_EWI/1A3-L_DDI_AND_EWI.ino
Labels: Type: Enhancement, Category: Embedded

#69 Update OHSketchTemplate.ino
  embedded/templates/OHSketchTemplate/OHSketchTemplate.ino
Labels: Type: Maintenance, Type: Documentation, Category: Embedded

#70 New Sketch 4A3A1-SELECT_JETT_PANEL
  embedded/OH4_Left_Console/4A3A1-SELECT_JETT_PANEL/4A3A1-SELECT_JETT_PANEL.ino
  embedded/OH4_Left_Console/4A3A1-SELECT_JETT_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#72 refactored-1A2-MASTER_ARM_PANEL
  embedded/OH1_Upper_Instrument_Panel/1A2-MASTER_ARM_PANEL/1A2-MASTER_ARM_PANEL.ino
  embedded/OH1_Upper_Instrument_Panel/1A2-MASTER_ARM_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#73 refactor-1A6-SPIN_RCVY_PANEL
  embedded/OH1_Upper_Instrument_Panel/1A6-SPIN_RCVY_PANEL/1A6-SPIN_RCVY_PANEL.ino
  embedded/OH1_Upper_Instrument_Panel/1A6-SPIN_RCVY_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#74 refactored_comments-1A7-HUD_PANEL
  embedded/OH1_Upper_Instrument_Panel/1A7-HUD_PANEL/1A7-HUD_PANEL.ino
  embedded/OH1_Upper_Instrument_Panel/1A7-HUD_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#75 [NEW SKETCH]: 4A7A1-COMM_PANEL.ino
  embedded/OH4_Left_Console/4A7A1-COMM_PANEL/4A7A1-COMM_PANEL.ino
  embedded/OH4_Left_Console/4A7A1-COMM_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#76 [NEW SKETCH]: 4A4A2-EXT_LIGHTS_PANEL.ino
  embedded/OH4_Left_Console/4A4A2-EXT_LIGHTS_PANEL/4A4A2-EXT_LIGHTS_PANEL.ino
  embedded/OH4_Left_Console/4A4A2-EXT_LIGHTS_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#78 [NEW SKETCH]: 4A5A1-FUEL_PANEL.ino
  embedded/OH4_Left_Console/4A5A1-FUEL_PANEL/4A5A1-FUEL_PANEL.ino
  embedded/OH4_Left_Console/4A5A1-FUEL_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#79 [NEW SKETCH]: 4A6A1-FCS_PANEL.ino
  embedded/OH4_Left_Console/4A6A1-FCS_PANEL/4A6A1-FCS_PANEL.ino
  embedded/OH4_Left_Console/4A6A1-FCS_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#84 [NEW SKETCH]: 5A8A1-SIM_CNTL_PANEL.ino #58
  embedded/OH5_Right_Console/5A8A1-SIM_CNTL_PANEL/5A8A1-SIM_CNTL_PANEL.ino
  embedded/OH5_Right_Console/5A8A1-SIM_CNTL_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#91 [NEW SKETCH]: 3A2A1-SEAT_CONTROLS.ino #40
  embedded/OH3_Center_Tub/3A2A1-SEAT_CONTROLS/3A2A1-SEAT_CONTROLS.ino
  embedded/OH3_Center_Tub/3A2A1-SEAT_CONTROLS/Makefile
Labels: Type: Enhancement, Category: Embedded, P3, S2

#86 [NEW SKETCH]: 5A9A1-KY58_PANEL.ino #59
  embedded/OH5_Right_Console/5A9A1-KY58_PANEL/5A9A1-KY58_PANEL.ino
  embedded/OH5_Right_Console/5A9A1-KY58_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded, P3, S2

#88 5A6A1-INTR_LT_PANEL
  embedded/OH5_Right_Console/5A6A1-INTR_LT_PANEL/5A6A1-INTR_LT_PANEL.ino
  embedded/OH5_Right_Console/5A6A1-INTR_LT_PANEL/Makefile
Labels: Type: Enhancement, Category: DCS-BIOS, P3, S2

#90 [NEW SKETCH]: 5A7A1-SNSR_PANEL.ino #57
  embedded/OH5_Right_Console/5A7A1-SNSR_PANEL/5A7A1-SNSR_PANEL.h
  embedded/OH5_Right_Console/5A7A1-SNSR_PANEL/5A7A1-SNSR_PANEL.ino
  embedded/OH5_Right_Console/5A7A1-SNSR_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded, P3, S2

#92 Refactor CI; Fix Compilation and Artifact Generation
  .gitignore
  embedded/Makefile
  embedded/OH1_Upper_Instrument_Panel/1A2-MASTER_ARM_PANEL/Makefile
  embedded/OH1_Upper_Instrument_Panel/1A3-L_DDI_AND_EWI/Makefile
  embedded/OH1_Upper_Instrument_Panel/1A6-SPIN_RCVY_PANEL/Makefile
  embedded/OH1_Upper_Instrument_Panel/1A7-HUD_PANEL/Makefile
  embedded/OH3_Center_Tub/3A2A1-SEAT_CONTROLS/Makefile
  embedded/OH4_Left_Console/4A2A1-LDG_GEAR_PANEL/Makefile
  embedded/OH4_Left_Console/4A3A1-SELECT_JETT_PANEL/Makefile
  embedded/OH4_Left_Console/4A4A2-EXT_LIGHTS_PANEL/Makefile
  embedded/OH4_Left_Console/4A5A1-FUEL_PANEL/Makefile
  embedded/OH4_Left_Console/4A5A2-APU_PANEL/Makefile
  embedded/OH4_Left_Console/4A6A1-FCS_PANEL/Makefile
  embedded/OH4_Left_Console/4A7A1-COMM_PANEL/Makefile
  embedded/OH4_Left_Console/4A7A2-OBOGS_PANEL/Makefile
  embedded/OH5_Right_Console/5A10-DEFOG_PANEL/Makefile
  embedded/OH5_Right_Console/5A6A1-INTR_LT_PANEL/Makefile
  embedded/OH5_Right_Console/5A7A1-SNSR_PANEL/Makefile
  embedded/OH5_Right_Console/5A8A1-SIM_CNTL_PANEL/Makefile
  embedded/OH5_Right_Console/5A9A1-KY58_PANEL/Makefile
  embedded/templates/OHSketchTemplate/Makefile
  include/avr.mk
  include/esp.mk
  include/mega2560.mk
  include/openhornet.mk
  include/promicro.mk
  include/promini.mk
  include/s2mini.mk
Labels: Type: Maintenance, Type: Bug, P2, S2

#94 Feature new sketch 1A9-R_DDI_AND_EWI
  embedded/OH1_Upper_Instrument_Panel/1A9-R_DDI_AND_EWI/1A9-R_DDI_AND_EWI.ino
  embedded/OH1_Upper_Instrument_Panel/1A9-R_DDI_AND_EWI/Makefile
Labels: Type: Enhancement, Category: Embedded, P3, S2

#95 Feature new sketch 2A2A1-LEFT_LIP_MODULE
  embedded/OH2_Lower_Instrument_Panel/2A2A1-LEFT_LIP_MODULE/2A2A1-LEFT_LIP_MODULE.ino
  embedded/OH2_Lower_Instrument_Panel/2A2A1-LEFT_LIP_MODULE/Makefile
Labels: Type: Enhancement, Category: Embedded

#96 Feature new sketch 2A3A1-AMPCD
  embedded/OH2_Lower_Instrument_Panel/2A3A1-AMPCD/2A3A1-AMPCD.ino
  embedded/OH2_Lower_Instrument_Panel/2A3A1-AMPCD/Makefile
Labels: Type: Enhancement, Category: Embedded

#97 Feature new sketch 2A4A1-RWR_CONTROL_PANEL
  embedded/OH2_Lower_Instrument_Panel/2A4A1-RWR_CONTROL_PANEL/2A4A1-RWR_CONTROL_PANEL.h
  embedded/OH2_Lower_Instrument_Panel/2A4A1-RWR_CONTROL_PANEL/2A4A1-RWR_CONTROL_PANEL.ino
  embedded/OH2_Lower_Instrument_Panel/2A4A1-RWR_CONTROL_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded

#98 Feature new sketch 5A5A1-ECS_PANEL
  embedded/OH5_Right_Console/5A5A1-ECS_PANEL/5A5A1-ECS_PANEL.h
  embedded/OH5_Right_Console/5A5A1-ECS_PANEL/5A5A1-ECS_PANEL.ino
  embedded/OH5_Right_Console/5A5A1-ECS_PANEL/Makefile
Labels: Type: Enhancement, Category: Embedded
